[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib
[submodule "dependencies/uWebSockets"]
	path = dependencies/uWebSockets
	url = https://github.com/uNetworking/uWebSockets
[submodule "dependencies/libuv"]
	path = dependencies/libuv
	url = https://github.com/libuv/libuv
